.paper p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.paper {
    font-family: main, sans-serif!important;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

/* Mobile Device */


/* Tablet & Desktop Device */
@media all and (min-width:768px) {

}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {

}

/* Desktop Device */
@media all and (min-width:1025px) {

}