.authFieldsWrapper {
    width: 100%;
    padding: 10% 20%;
    margin-top: 30%;
    display: inline-block;
    text-align: center;
    font-family: main, sans-serif !important;
}

.authFieldsWrapper p {
    display: inline;
}

p[class='authModeSelector'] {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}

/* Mobile Device */

/* Tablet & Desktop Device */
@media all and (min-width: 768px) {
    .authFieldsWrapper {
        margin: 0;
    }
}

/* Tablet Device */
@media all and (min-width: 768px) and (max-width: 1024px) {

}

/* Desktop Device */
@media all and (min-width: 1025px) {

}