.tool {
    text-align: right;
    margin-bottom: 3.5rem;
}

.detailTitle, .detailBody {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: main, sans-serif;
}

.detailBody {
    margin-top: 1rem;
    font-size: 1.2rem;
    min-height: 35vh;
}

.detailComment p:nth-child(1) {
    padding-left: 1.3rem;
    display: inline-block;
}

.detailComment p:nth-child(2) {
    display: inline-block;
}

.detailComment > .inputField {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.detailComment .submit_comment {
    text-align: right;
    padding-top: .5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.inputField .avatar {
    display: inline-block;
    width: 15%;
}

.inputField .input {
    display: inline-block;
    width: 85%;
}

.detailTitle p {
    margin-bottom: 1rem;
    font-weight: bold;
}

.detailTitle p:nth-child(1) {
    font-size: 2rem;
}

.detailTitle p:nth-child(2) {
    color: #565656;
}

/* Mobile Device */


/* Tablet & Desktop Device */
@media all and (min-width:768px) {

}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {
    .inputField .avatar {
        display: inline-block;
        width: 10%;
    }

    .inputField .input {
        display: inline-block;
        width: 90%;
    }
}

/* Desktop Device */
@media all and (min-width:1025px) {
    .inputField .avatar {
        display: inline-block;
        width: 5%;
    }

    .inputField .input {
        display: inline-block;
        width: 95%;
    }
}