#header {
    width: 100%;
    height: 20rem;
    position: relative;
}

#header .background {
    width: 100%;
    height: 100%;
    background-image: url('/images/home_header.jpg');
    background-size: 100% 100%;
    filter: brightness(65%) contrast(130%);
}

#header .text {
    position: absolute;
    left: 0;
    top: 40%;
    color: white;
    width: 100%;
    text-align: center;
}

#header p {
    font-family: main, sans-serif;
}

#header p:nth-child(1) {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

#header p:nth-child(2) {
    font-weight: bold;
    font-size: 1rem;
}

.wrapper.home {
    min-height: 100vh;
    height: auto;
}

/* Mobile Device */


/* Tablet & Desktop Device */
@media all and (min-width:768px) {

}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {

}

/* Desktop Device */
@media all and (min-width:1025px) {
    .wrapper.home {
        padding: 0 10%;
        min-height: 100vh;
        height: auto;
    }

    #header {
        height: 30rem;
    }
}