/* All Device */
@font-face {
    src: url('/fonts/main_01.ttf');
    font-family: main;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.sideBarMenuLink, .computer .link {
    text-decoration: none;
}

.computer .link {
    display: inline-block;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: main, sans-serif;
    position: relative;
    /*background-color: #f5f5f5;*/
}

.container.about {
    padding: 5%;
}

.container.auth {
    background-color: #f4f4f4;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list, .postingForm, .moreFunc {
    font-family: main, sans-serif !important;
}

.createButton {
    position: fixed;
    right: 8%;
    bottom: 8%;
}

.FormWrapper {
    padding: 1rem 3rem;
}

.FormWrapper.edit {
    margin-top: 30%;
}

.computer .element {
    font-size: 1rem!important;
    font-family: main, sans-serif!important;
}

.computer {
    display: none;
    background: transparent;
}

.mobile {
    display: block;
}

/* Mobile Device */

/* Tablet & Desktop Device */
@media all and (min-width: 768px) {

}

/* Tablet Device */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .mobile {
        display: none;
    }

    .computer {
        display: block;
    }

    .container.post, .container.notice, .container.detail {
        padding: 10%;
    }

    .container.auth {
        padding: 25% 20%;
        background-color: #f4f4f4;
    }

    .moreFunc {
        display: inline-block!important;
    }

    .FormWrapper.edit {
        margin-top: 0;
    }
}

/* Desktop Device */
@media all and (min-width: 1025px) {
    .mobile {
        display: none;
    }

    .computer {
        display: block;
    }

    .container.post, .container.notice, .container.detail, .container.about{
        padding: 10%;
    }

    .container.auth {
        padding: 15% 30%;
        background-color: #f4f4f4;
    }

    .header {
        padding-top: 0;
        padding-bottom: 5%;
    }

    .moreFunc {
        display: inline-block!important;
    }

    .FormWrapper.edit {
        margin-top: 0;
    }

    .FormWrapper {
        padding: 10% 15%;
    }
}